<p id="notice"><%= notice %></p>

<h1>Listing Ad Clicks</h1>

<table>
  <thead>
    <tr>
      <th>Ad</th>
      <th>Customer code</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_clicks.each do |ad_click| %>
      <tr>
        <td><%= ad_click.ad_id %></td>
        <td><%= ad_click.customer_code %></td>
        <td><%= ad_click.ip %></td>
        <td><%= link_to 'Show', ad_click %></td>
        <td><%= link_to 'Edit', edit_ad_click_path(ad_click) %></td>
        <td><%= link_to 'Destroy', ad_click, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad click', new_ad_click_path %>
