				
					<!-- Wizard with validation -->
		            <div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">Đăng quảng cáo</h6>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

	                	<%= form_for(@ad, html: {class: "form-validate-jquery steps-validation", multipart: true}) do |f| %>
							<% if @ad.errors.any? %>
								<div id="error_explanation">
								  <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>
							
								  <ul>
								  <% @ad.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								  <% end %>
								  </ul>
								</div>
							<% end %>
						
							<h6>Nội dung Quảng cáo</h6>
							<fieldset class="ad_detail_tab">
								<div class="row">
									<div class="col-md-6">
										
										<!--<div class="ad_preview_box ad_preview_box_0">
												
										</div>-->
										<fieldset class="text-semibold">
											<legend><i class="icon-file-text position-left"></i> Cài đặt quảng cáo</legend>
											
											<div class="form-group">
												<div class="row">
													<div class="col-md-2" style="padding-right: 0">
														<label>Vị trí đặt<br />Quảng cáo <span class="text-danger">*</span></label>
													</div>
													<div class="col-md-10">
														<%= f.select("ad_position_id", AdPosition.order("name").collect {|p| [ p.display_name_option, p.id ] }, { include_blank: "- Chọn vị trí -"} , {class: "select width100", required: "required" }) %>
													</div>
												</div>
												
											</div>
											
											<div class="picture_box" style="display: none">
												<div class="ad_preview_box ad_preview_box_1">
													
												</div>
												
												<input name="check_image" style="position: absolute;border: none;background: none" />
												
												<div class="image_select_control image_select_control_1" rel="1">
													<div class="product_images">
													</div>																								
													
													<%= f.hidden_field "banner_1" %>
													
													<div class="form-group image_upload_input">
														<label>Tải hình</label>
														<div class="row">
															<div class="col-md-3">
																<%= @ad.image_link %>
																<label class="image-checkbutton"><i image="<%= @ad.image_src(:banner) %>" class="<%= "icon-checkmark" if @ad.image.present? %> <%= "noimage" if !@ad.image.present? %>"></i></label>
															</div>
															<div class="col-md-7">																		
																<input type="file" name="ad[image]" class="form-control file-styled">
																<span class="help-block">Định dạng ảnh: gif, png, jpg. Kích thước tối đa: 2Mb</span>
															</div>
														</div>
													</div>
												</div>
												
												<div class="image_select_control image_select_control_2" rel="2" style="display: none">
													<div class="product_images">
													</div>																								
													
													<%= f.hidden_field "banner_2" %>
													
													<div class="form-group image_upload_input">
														<label>Thay hình ảnh</label>
														<div class="row">
															<div class="col-md-3">
																<%= @ad.image_2_link %>
																<label class="image-checkbutton"><i image="<%= @ad.image_2_src(:banner) %>" class="<%= "icon-checkmark" if @ad.image_2.present? %> <%= "noimage" if !@ad.image_2.present? %>"></i></label>
															</div>
															<div class="col-md-7">																		
																<input type="file" name="ad[image_2]" class="form-control file-styled">
																<span class="help-block">Định dạng ảnh: gif, png, jpg. Kích thước tối đa: 2Mb</span>
															</div>
														</div>
													</div>
												</div>
														
												<div class="image_select_control image_select_control_3" rel="3" style="display: none">
													<div class="product_images">
													</div>																								
													
													<%= f.hidden_field "banner_3" %>
													
													<div class="form-group image_upload_input">
														<label>Thay hình ảnh</label>
														<div class="row">
															<div class="col-md-3">
																<%= @ad.image_3_link %>
																<label class="image-checkbutton"><i image="<%= @ad.image_3_src(:banner) %>" class="<%= "icon-checkmark" if @ad.image_3.present? %> <%= "noimage" if !@ad.image_3.present? %>"></i></label>
															</div>
															<div class="col-md-7">																		
																<input type="file" name="ad[image_3]" class="form-control file-styled">
																<span class="help-block">Định dạng ảnh: gif, png, jpg. Kích thước tối đa: 2Mb</span>
															</div>
														</div>
													</div>
												</div>
														
												<div class="image_select_control image_select_control_4" rel="4" style="display: none">
													<div class="product_images">
													</div>																								
													
													<%= f.hidden_field "banner_4" %>
													
													<div class="form-group image_upload_input">
														<label>Thay hình ảnh</label>
														<div class="row">
															<div class="col-md-3">
																<%= @ad.image_4_link %>
																<label class="image-checkbutton"><i image="<%= @ad.image_4_src(:banner) %>" class="<%= "icon-checkmark" if @ad.image_4.present? %> <%= "noimage" if !@ad.image_4.present? %>"></i></label>
															</div>
															<div class="col-md-7">																		
																<input type="file" name="ad[image_4]" class="form-control file-styled">
																<span class="help-block">Định dạng ảnh: gif, png, jpg. Kích thước tối đa: 2Mb</span>
															</div>
														</div>
													</div>
												</div>	
											</div>	
											
										</fieldset>
									</div>
									<div class="col-md-6 payment_detail_box">
										<fieldset class="text-semibold">
											<legend><i class="icon-file-text position-left"></i> Hình thức thanh toán</legend>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Thời gian đặt quảng cáo từ ngày: <span class="text-danger">*</span></label>
														<div class="input-group">
															<span class="input-group-addon"><i class="icon-calendar3"></i></span>
															<%= f.text_field :start_at, class: "form-control", value: (@ad.start_at.nil? ? "" : @ad.start_at.strftime("%d-%m-%Y")) %>															
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Đến ngày: <span class="text-danger">*</span></label>
														<div class="input-group">
															<span class="input-group-addon"><i class="icon-calendar3"></i></span>
															<%= f.text_field :end_at, class: "form-control", value: (@ad.end_at.nil? ? "" : @ad.end_at.strftime("%d-%m-%Y")) %>															
														</div>
													</div>
												</div>	
											</div>
											
											<!--<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Từ ngày: <span class="text-danger">*</span></label>
														<div class="input-group">
															<span class="input-group-addon">
																<i class="icon-calendar5"></i>
															</span>
															<input type="text" class="form-control pickadate" placeholder="Try me&hellip;">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Đến ngày: <span class="text-danger">*</span></label>
														<div class="input-group">
															<span class="input-group-addon"><i class="icon-calendar22"></i></span>
															<input type="text" name="ad[daterange]" class="form-control new_ad_daterange"> 
														</div>
													</div>
												</div>
											</div>-->
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Hình thức trả phí: <span class="text-danger">*</span></label>
														<select name="ad[payment_type]" data-placeholder="- Chọn hình thức -" class="select required">
															<option></option>
															<optgroup label="Tất cả hình thức">
																<option <%= 'selected=selected' if @ad.payment_type.nil? || @ad.payment_type == "per_day" %> value="per_day">Trả theo ngày</option>
																<option <%= 'selected=selected' if @ad.payment_type == "per_click" %> value="per_click">Trả theo lượt nhấn</option>																
															</optgroup>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group payment_type_group per_click_group">
														<label>Số tiền tối đa (VNĐ): <span class="text-danger">*</span></label>
														<%= f.text_field :max_budget, required: "required", class: "form-control text-right number_input" %>
													</div>
	
													<div class="form-group payment_type_group per_day_group">
														<label>Số ngày quảng cáo: <span class="text-danger">*</span></label>
														<%= f.text_field :days, required: "required", class: "form-control text-right number_input" %>
													</div>
												</div>
											</div>
											
											<div class="row payment_type_group per_click_group">
												<div class="col-md-6">
													<div class="form-group">
														<label>Đơn giá: <strong class="per_click_price"></strong> VNĐ/lượt nhấn</label>
														<div class="text-right">
															
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Tổng cộng: <strong class="click_total_price"></strong> lượt nhấn</label>
														<div class="text-right">
															
														</div>
													</div>
												</div>
											</div>
											
											<div class="row payment_type_group per_day_group">
												<div class="col-md-6">
													<div class="form-group">
														<label>Đơn giá: <strong class="per_day_price"></strong> VNĐ/ngày</label>
														<div class="text-right">
															
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Thành tiền: <strong class="day_total_price"></strong> VNĐ</label>
														<div class="text-right">
															
														</div>
													</div>
												</div>
												
											</div>
										
										</fieldset>
										<fieldset class="text-semibold">
											<legend><i class="icon-file-text position-left"></i> Thông tin chi tiết</legend>
											<div class="form-group">
												<label>Loại quảng cáo <span class="text-danger">*</span></label>
												<%= select_tag "ad[type_name]", options_for_select(Ad.type_name_options, @ad.type_name), class: "modern_select select required" %>
											</div>
											
											<div class="form-group type_group product_type_group">
												<label>Sản Phẩm <span class="text-danger">*</span></label>
												<%= f.text_field :pb_product_id, required: "required", class: "select2-ajax", data_link: pb_products_path(format: "json"), placeholder: "Tìm sản phẩm...", text: (!@ad.pb_product.nil? ? @ad.pb_product.name : ""), value: 	@ad.pb_product_id %>
												<%= f.text_field :product_name, { class: "form-control product_name_input", value: @ad.name } %>
											</div>
											
											<div class="form-group type_group image_type_group">
												<label>Tiêu đề quảng cáo <span class="text-danger">*</span></label>
												<%= f.text_field :name, required: "required", class: "form-control" %>
											</div>
											
											<div class="row ad_display_price">
												<div class="col-md-6">
													<div class="form-group ad_display_price">
														<label>Giá <span class="text-danger">*</span></label>
														<%= f.text_field :display_price, class: "form-control number_input required" %>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group ">
														<label>Đơn vị tính</label>
														<%= f.text_field :display_price_unit, class: "form-control" %>
													</div>
												</div>
											</div>
											
											<div class="form-group type_group image_type_group">
												<label>Đường dẫn <span class="text-danger">*</span></label>
												<%= f.text_field :url, required: "required", class: "form-control" %>
											</div>
											
											<div class="form-group">
												<label>Mô tả</label>
												<%= f.text_area :description, class: "form-control" %>
											</div>
											
											<div class="form-group more_info_input">
												<label>Thông tin giới thiệu dưới quảng cáo</label>
												<%= f.text_area :description_2, class: "form-control" %>
											</div>
										</fieldset>
									</div>
											
										
								</div>
									
								<div class="row">
									
									
									<div class="col-md-6">
										
									</div>
									
									<div class="col-md-6">
										
									</div>

									
									
								</div>
								
							</fieldset>

							<!--<h6>Nội Dung Quảng Cáo</h6>
							<fieldset class="ad_detail_tab">
								
							</fieldset>-->

							<h6>Thanh Toán</h6>
							<fieldset class="payment_tab">
								<legend><i class="icon-file-text position-left"></i> Nội dung quảng cáo</legend>
								
								<div class="row ad_summary_detail">
									<div class="col-md-6 ad_summary_col">
										<div class="form-group">
											<div class="text-left">
												<div class="ad_preview_box ad_preview_box_2">
												
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ad_summary_col">
											<label>Tiêu đề</label>
											<div class="text-left">
												<strong></strong>
											</div>
										</div>
										<div class="form-group ad_summary_col">
											<label>Đường dẫn</label>
											<div class="text-left">
												<strong class="display_ad_link"></strong>
											</div>
										</div>
										<div class="form-group ad_summary_col">
											<label>Mô tả</label>
											<div class="text-left">
												<strong></strong>
											</div>
										</div>
									</div>
									
								</div>
								
								
								<legend><i class="icon-file-text position-left"></i> Nội dung thanh toán</legend>
								
								<div class="row ad_summary">
									<div class="col-md-3 ad_summary_col">
										<div class="form-group">
											<label>Loại quảng cáo</label>
											<div class="text-left">
												<strong></strong>
											</div>
										</div>
									</div>
									<div class="col-md-2 ad_summary_col">
										<div class="form-group">
											<label>Hình thức trả phí</label>
											<div class="text-left">
												<strong class="payment_type"></strong>
											</div>
										</div>
									</div>
									<div class="col-md-4 ad_summary_col">
										<div class="form-group">
											<label>Nội dung thanh tóan</label>
											<div class="text-left">
												<strong></strong>
											</div>
										</div>
									</div>
									<div class="col-md-3 ad_summary_col">
										<div class="form-group">
											<label>Tổng cộng</label>
											<div class="text-right">
												<strong class="big-info"></strong>
											</div>
										</div>
									</div>
								</div>
								
								<% if !@ad.paid? %>
									<legend><i class="icon-file-text position-left"></i> Thanh toán phí quản cáo</legend>
									<p>Vui lòng nhấn vào nút bên dưới để thanh toán qua Cổng thanh toán trực tuyến <strong>NganLuong</strong></p>
									<a target="_blank" href="<%= @ad.get_checkout_url(request) %>" >
										<img src="https://www.nganluong.vn/data/images/buttons/11.gif"  border="0" />
									</a>
									<br />
									<input type="text" style="widh: 0; border:none; background: #fff; line-height: 0;" class="required" name="nganluong_checkout_status" value="" />
								<% end %>
								<hr>
							</fieldset>

							<h6>Hoàn Thành</h6>
							<fieldset>
								
							</fieldset>
						<% end %>

		            </div>
		            <!-- /wizard with validation -->		  
								  
<script>
	
	function adSummary() {
		var s1 = $(".ad_summary .ad_summary_col").eq(0).find("strong")
		var s2 = $(".ad_summary .ad_summary_col").eq(1).find("strong")
		var s3 = $(".ad_summary .ad_summary_col").eq(2).find("strong")
		var s4 = $(".ad_summary .ad_summary_col").eq(3).find("strong")
		
		s1.html($("select[name='ad[ad_position_id]'] option:selected").text())
		s2.html($("select[name='ad[payment_type]'] option:selected").text())
		
		var payment_detail = ""
		if ($("select[name='ad[payment_type]']").val() == "per_day") {
			payment_detail += '<div><span>Thời gian:</span> <span>Từ ngày</span> '+$("input[name='ad[start_at]']").val()+' <span>Đến ngày</span> '+$("input[name='ad[end_at]']").val()+'</div>'
			payment_detail += '<div><span>Đơn giá:</span> '+$(".per_day_price").html()+' VNĐ/ngày</div>'
			s4.html($(".day_total_price").html()+" VNĐ")
		} else {
			payment_detail += '<div><span>Thời gian:</span> <span>Từ ngày</span> '+$("input[name='ad[start_at]']").val()+' <span>Đến ngày</span> '+$("input[name='ad[end_at]']").val()+'</div>'
			payment_detail += '<div><span>Đơn giá:</span> '+$(".per_click_price").html()+' VNĐ/lượt nhấn</div>'
			payment_detail += '<div><span>Số lượt nhấn:</span> '+$(".click_total_price").html()+' lượt nhấn</div>'
			s4.html(format_number($("input[name='ad[max_budget]']").val())+" VNĐ")
		}
		s3.html(payment_detail)
		
		
		
		var d1 = $(".ad_summary_detail .ad_summary_col").eq(0).find("strong")
		var d2 = $(".ad_summary_detail .ad_summary_col").eq(1).find("strong")
		var d3 = $(".ad_summary_detail .ad_summary_col").eq(2).find("strong")
		var d4 = $(".ad_summary_detail .ad_summary_col").eq(3).find("strong")
		
		if ($("select[name='ad[type_name]']").val() == "product") {
			d2.html($("input[name='ad[product_name]']").val())
		} else {
			d2.html($("input[name='ad[name]']").val())
			var url = $("input[name='ad[url]']").val()
			d3.html("<a target=\"_blank\" href=\""+url+"\">"+url)
		}
		
		d4.html($("textarea[name='ad[description]']").val())
		
	}
	
	function calculateAdPrices() {
		var per_click = parseFloat($(".per_click_price").html().replace(/,/g,""))
		var per_day = parseFloat($(".per_day_price").html().replace(/,/g,""))
		
		// count days between dates
		var input_days_count = 0
		if ($("input[name='ad[start_at]']").length && $("input[name='ad[start_at]']").val() != "" && $("input[name='ad[end_at]']").length && $("input[name='ad[end_at]']").val() != "") {
			var b_date = $("input[name='ad[start_at]']").val()
			var e_date = $("input[name='ad[end_at]']").val()
			input_days_count = daydiff(parseDate(b_date), parseDate(e_date))
			$("input[name='ad[days]']").val(input_days_count)
		}
		
		var input_click_budget = 0
		var input_day_number = 0
		
		if ($("input[name='ad[max_budget]']").length && $("input[name='ad[max_budget]']").val() != "") {
			input_click_budget = parseFloat($("input[name='ad[max_budget]']").val().replace(/,/g,""))
		}
		
		if ($("input[name='ad[days]']").length && $("input[name='ad[days]']").val() != "") {
			input_day_number = parseFloat($("input[name='ad[days]']").val().replace(/,/g,""))
		}
		
		var total_click = input_click_budget/per_click
		var total_day_price = per_day*input_day_number
		
		$(".click_total_price").html(format_number(total_click))
		$(".day_total_price").html(format_number(total_day_price))
	}
	
	function getAdPositionValues() {
		var pos_id = $("select[name='ad[ad_position_id]']").val()
		var pd_box = $(".payment_detail_box")

		// show/hide payment detail box
		if(pos_id == "") {
			pd_box.hide()
			return
		}
		
		// get values
		$.ajax({
			url : '<%= get_values_ad_positions_path %>?id='+pos_id,
			success:function(data, textStatus, jqXHR)
			{
				$(".per_click_price").html(format_number(data.pos.click_price))
				$(".per_day_price").html(format_number(data.pos.day_price))
				pd_box.show()
				$('#ad_start_at').val(data.start_date)
				$('#ad_end_at').val(data.end_date)
				calculateAdPrices()				
			}
		})
	}
	
	function updatePaymentTypeSelect() {
		var type = $("select[name='ad[payment_type]']").val()		
		$(".payment_type_group").hide()
		if (type == "per_click") {
			$(".per_click_group").show()
		} else if (type == "per_day") {
			$(".per_day_group").show()
		}
	}
	
	function readURL(input, select_box) {
		var box = $(input).parents(".image_upload_input")
		var img = box.find("img")		
		if (input.files && input.files[0]) {
			var reader = new FileReader();	
			reader.onload = function (e) {
				img.attr('src', e.target.result);
				box.find("a").attr('href', e.target.result);
				box.find("i").attr('image', e.target.result);
				box.find("i").removeClass("noimage");
				if(box.find("i").hasClass("icon-checkmark") || $("icon-checkmark").length == 0) {
					insertImageToPreviewBox(e.target.result, select_box.attr("rel"))
					select_box.find(".image-checkbutton i").removeClass("icon-checkmark")
					if(select_box.find("icon-checkmark").length == 0) {
						box.find("i").addClass("icon-checkmark")
					}
				}
			}	
			reader.readAsDataURL(input.files[0]);			
		}
	}
	
	function insertImageToPreviewBox(src, num) {
		var subfix = ""
		if (num != "1") {
            subfix = "_"+num
        }
		if (src=="") {
			$(".preview_box_image"+subfix).html("")
			$("input[name='ad[banner_"+num+"]']").val(src)
			return
		}
		var img = new Image();
		img.onload = function() {
			var w = this.width
			var h = this.height
			
			var box_w = $(".preview_box_image"+subfix).width()
			var box_h = $(".preview_box_image"+subfix).height()
			
			var new_h = 0
			var new_w = 0
			var ma_top = 0
			var ma_left = 0
			
			if (w/h > box_w/box_h) {
				new_h = box_h
				new_w = box_h*(w/h)
				ma_left = (box_w-new_w)/2
			} else {
				new_w = box_w
				new_h = box_w*(h/w)
				ma_top = (box_h-new_h)/2
			}
			
			$(".preview_box_image"+subfix).html('<img class="preview_box_img" src="'+src+'" style="margin-top: -10px; width:'+new_w+'px; height:'+new_h+'px;margin-left:'+ma_left+'px;;margin-top:'+ma_top+'px;" />')			
		}
		img.src = src;
		
		// update input
		var box = $(".image_select_control_"+num)
		if (src.indexOf("data") == 0) {
			box.find("input[name='ad[banner_"+num+"]']").val("upload")
		} else {
			box.find("input[name='ad[banner_"+num+"]']").val(src)
		}
	}
	
	function updatePeviewBox() {
		if ($("select[name='ad[ad_position_id]']").length) {
			var id = $("select[name='ad[ad_position_id]']").select2("val")
			if (id == "") {
				$(".ad_preview_box").html("")
				$(".picture_box").hide()
				return
			}
			$.ajax({
				url : '<%= preview_box_ad_positions_path %>?id='+id,
				success:function(data, textStatus, jqXHR)
				{
					//show picture box
					$(".picture_box").show()
					
					
					$(".ad_preview_box").html(data)
					
					$(".image_select_control").each(function() {
						if($(this).find("i.icon-checkmark").length) {
							insertImageToPreviewBox($(this).find("i.icon-checkmark").attr("image"), $(this).attr("rel"))
						}
					})
					
					$(".ad_detail_tab .box_4_style .preview_box_image_2, .ad_detail_tab .box_4_style .preview_box_image_3, .ad_detail_tab .box_4_style .preview_box_image_4, .ad_detail_tab .box_3_style .preview_box_image_3, .ad_detail_tab .box_3_style .preview_box_image_2").addClass("no_active")
					
					// hide/show more info input
					$(".more_info_input").hide()
					if ($(".box_4_style").length) {
						$(".more_info_input").show()
					}
					
					$(".ad_display_price").hide()
					if ($(".home_top_banner_3").length) {
						$(".ad_display_price").show()
					}
					
					
				}
			})
		}
			
	}
	
	function renderProductDetail(id) {
		if (id == "") {
			$(".product_images").html("")
			return
		}
		$.ajax({
            url : '<%= pb_products_path %>/'+id+'.json',
            success:function(data, textStatus, jqXHR)
            {
                // product_images
				var images_html = '<div class="form-group type_group product_type_group"><label>Hình ảnh từ gian hàng <span class="text-danger">*</span></label><ul class="">'
				data.pictures.forEach(function(entry) {
					images_html += '<li><a href="'+entry+'" class="fancybox.image fancybox"><img src="'+entry+'" /></a><label class="image-checkbutton"><i image="'+entry+'" class=""></i></label></li>'
				});
				images_html += '</ul></div><br style="clear: both" /><br />'
				
				$(".product_images").html(images_html)
				$(".display_ad_link").html('<a target="_blank" href="'+data.url+'">'+data.url+'</a>')
            }
        })
	}
	
	function updateProductSelectLayout() {
		if ($("input[name='ad[pb_product_id]']").length) {
			var val = $("input[name='ad[pb_product_id]']").select2("val")			
			if (val == "") {
				$(".product_name_input").hide()
			} else {
				var text = $("input[name='ad[pb_product_id]']").select2("data").text
				$(".product_name_input").show()
				$(".product_name_input").val(text)
			}
			renderProductDetail(val)
		}			
	}
	
	function changeAdTypeName(val) {		
		$(".type_group").hide()
		$("."+val+"_type_group").show()
	}
	
	$(document).ready(function() {
		changeAdTypeName($("select[name='ad[type_name]']").select2("val"))
		$("select[name='ad[type_name]']").change(function() {
			changeAdTypeName($(this).select2("val"))
			updatePeviewBox()
		})		
		// update input product layout
		updateProductSelectLayout()
		$("input[name='ad[pb_product_id]']").change(function() {
			updateProductSelectLayout()
		})
		
		updatePeviewBox()
		$("select[name='ad[ad_position_id]']").change(function() {
			updatePeviewBox()
		})
		
		$(document).on("click", ".image-checkbutton", function() {
			if($(this).find("i").hasClass("noimage")) {
				return
			}
			var box = $(this).parents(".image_select_control")
			var num = box.attr("rel")
			var checked = $(this).find("i").hasClass("icon-checkmark")
			box.find(".image-checkbutton i").removeClass("icon-checkmark")
			
			if (checked) {
				$(this).find("i").removeClass("icon-checkmark")
				insertImageToPreviewBox("", num)
			} else {
				$(this).find("i").addClass("icon-checkmark")
				insertImageToPreviewBox($(this).find("i").attr("image"), num)
			}
		})
		
		// image_upload_input
		$(".image_upload_input input[type=file]").change(function() {
			readURL(this, $(this).parents(".image_select_control"))
		})
		
		// custome validate
		jQuery.validator.addMethod("select_image", function(value, element) {
			var ok = true
			
			var banner_1 = $("input[name='ad[banner_1]']").val()
			if (banner_1 == "") {
				ok = false
			}
				
			if ($(".box_4_style").length) {
                var banner_2 = $("input[name='ad[banner_2]']").val()
				if (banner_2 == "") {
					ok = false
				}
				var banner_3 = $("input[name='ad[banner_3]']").val()
				if (banner_3 == "") {
					ok = false
				}
				var banner_4 = $("input[name='ad[banner_4]']").val()
				if (banner_4 == "") {
					ok = false
				}
            }
			
			if ($(".box_3_style").length) {
                var banner_2 = $("input[name='ad[banner_2]']").val()
				if (banner_2 == "") {
					ok = false
				}
				var banner_3 = $("input[name='ad[banner_3]']").val()
				if (banner_3 == "") {
					ok = false
				}
            }
			
			return ok
		}, 'Chọn hình cho quảng cáo');
		$("input[name=check_image]").rules( "add", {
			select_image: true
		});
		
		// File input
		$(".file-styled").uniform({
			fileButtonHtml: '<i class="icon-googleplus5"></i>',
			wrapperClass: 'bg-warning'
		});
		
		// payment type check
		updatePaymentTypeSelect()
		$("select[name='ad[payment_type]']").change(function() {
			updatePaymentTypeSelect()
		})
		
		// get ad position values
		getAdPositionValues()
		$("select[name='ad[ad_position_id]']").change(function() {
			getAdPositionValues()
		})
		
		$(document).on("keyup change", "input[name='ad[max_budget]'], input[name='ad[days]'], input[name='ad[start_at]'], input[name='ad[end_at]']", function() {
			calculateAdPrices()
		})
		
		setInterval("adSummary()", 500)
	
		loadDaterange($('.new_ad_daterange'), "<%= @ad.start_at.strftime("%d-%m-%Y") %>", "<%= @ad.end_at.strftime("%d-%m-%Y") %>")
		
		
		$(document).on("click", ".ad_detail_tab .box_style .box_style_item", function() {
			var id = $(this).attr("rel")
			$(this).parents(".box_style").find(".box_style_item").addClass("no_active")
			$(this).removeClass("no_active")
			$(".image_select_control").hide()
			$(".image_select_control_"+id).show()
		})
	})
</script>