					<style>
						.datatable-header {
							display: none;
						}
						.datatable-footer {
							padding-left: 10px;
							padding-right: 10px;
						}
					</style>
                    
                    <!-- Ad Statistic Content -->
					<div class="row datatable_box">
						<div class="col-lg-6">
							<form class="datatable_filter">
								<%= hidden_field_tag "ad_id", @ad.id %>
								<div class="form-group">								
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-calendar22"></i></span>
										<input type="text" name="daterange" class="form-control daterange-basic ad_chart_daterange" value="<%= @begin_date.strftime("%d-%m-%Y") %> - <%= @end_date.strftime("%d-%m-%Y") %>"> 
									</div>
								</div>
							</form>
							<!-- Marketing campaigns -->
							<div class="panel panel-flat">								
									<div class="table-responsive">
										
										<table item-id="<%= @ad.id %>" class="table text-nowrap datatable-ajax" url="<%= datatable_ad_clicks_path(format: "json") %>">
											<thead>
												<tr class="active border-double">
													<th>Nguồn truy cập</th>
													<th class="text-left">Địa chỉ IP</th>
													<th class="col-md-2 text-center">Thời gian</th>												
												</tr>
											</thead>
											<tbody>
												<% @ad.main_ad_clicks.each do |ac| %>
													<tr>
														<td>
															<div class="media-left media-middle">
																<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
															</div>
														</td>	
														<td class="text-center">
															<%= ac.ip %>xx
														</td>
														<td class="text-center">
															<span class="text-muted"><%= ac.created_at.strftime("%d/%m/%Y") %>, <%= ac.created_at.strftime("%H:%m %P") %></span>
														</td>													
													</tr>
												<% end %>
											</tbody>
										</table>
									</div>
							</div>
							<!-- /marketing campaigns -->
                            
                        </div>
                        
                        <div class="col-lg-6">							
							<!-- Basic area chart -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Thống kê truy cập</h5>
									<div class="heading-elements">
										<ul class="icons-list">
											<li><a data-action="collapse"></a></li>
											<li><a data-action="reload"></a></li>
											<li><a data-action="close"></a></li>
										</ul>
									</div>
								</div>
		
								<div class="panel-body">
									<div class="chart-container">
										<div data-url="<%= chart_ads_path(id: @ad.id) %>" class="chart has-fixed-height" id="basic_area"></div>
									</div>
								</div>
							</div>
							<!-- /basic area chart -->

						</div>
                        
                    </div>
                    
<script>
	loadAdDetailChart($("#basic_area"), $(".ad_chart_daterange").val())
	$(".ad_chart_daterange").change(function() {
		loadAdDetailChart($("#basic_area"), $(this).val())
	})
</script>                    