<% if !@pos.nil? %>
    <div class="addd">
        <% @pos.active_ads.each do |ad| %>
            <div class="ad_banner_item product_home_banner" pos="<%= params[:pos] %>">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
        <% end %>
    </div>
    <% @pos.active_ads.each do |ad| %>
      
      <div class="ad_sidebar_item">
          <a title="<%= ad.description %>" href="<%= request.base_url %><%= click_ads_path(id: ad) %>" target="_blank">
              <h4><%= ad.name %></h4>
              <img src="<%= request.base_url %><%= ad.image_url(:banner) %>" />
          </a>
      </div>
      
    <% end %>
<% end %>