<% if !@pos.active_ads.empty? %>
  <div class="row">
    <div class="wide_3_banners">
            <div style="display: block; height: 5px; margin-right: 20px;">
              <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
            </div>
            <div class="works-list compage" style="padding: 0" >         
                    <div class="ad_banner_item product_home_banner" pos="trade_home_top">
                        Nhấn vào đây
                        <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                    </div>
                    <div class="ad_banner_item product_home_banner" pos="trade_home_top_2">
                        Nhấn vào đây
                        <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                    </div>
                    <div class="ad_banner_item product_home_banner" pos="trade_home_top_3">
                        Nhấn vào đây
                        <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                    </div>
                    
                    <div style="border: medium none;height: 252px;width: 102%;" src="http://marketonline.vn:3000/ad_positions/iframe_3_wide_banners?pos=trade_home_top" style="border: none;">
                      
                      <div class="ad_slider<%= params[:device] %>">
                        <ul class="iframe_3_wide_banners">
                          <div class="loading"></div>
                          <% @pos.active_ads.each do |ad| %>
                            <li>
                              <a href="<%= click_ads_path(id: ad) %>" target="_blank">
                                <img title="" src="<%= ad.image_url(:banner) %>" />
                              </a>
                              <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
                                <strong><%= ad.name %></strong><br />
                                <div><%= ad.description %></div>
                              </a>
                            </li>
                            
                          <% end %>
                          
                          <% if @pos_2.present? %>
                            <% @pos_2.active_ads.each do |ad| %>
                              <li>
                                <a href="<%= click_ads_path(id: ad) %>" target="_blank">
                                  <img title="" src="<%= ad.image_url(:banner) %>" />
                                </a>
                                <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
                                  <strong><%= ad.name %></strong><br />
                                  <div><%= ad.description %></div>
                                </a>
                              </li>      
                            <% end %>
                          <% end %>
                          
                          <% if @pos_3.present? %>
                            <% @pos_3.active_ads.each do |ad| %>
                              <li>
                                <a href="<%= click_ads_path(id: ad) %>" target="_blank">
                                  <img title="" src="<%= ad.image_url(:banner) %>" />
                                </a>
                                <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
                                  <strong><%= ad.name %></strong><br />
                                  <div><%= ad.description %></div>
                                </a>
                              </li>      
                            <% end %>
                          <% end %>
                        </ul>
                        </div>
                      
                    </div>
            </div>
      </div>
</div>
<% end %>