<div class="home_top_banner_frame">
  <!--<div class="ad_loading"></div>
  <div class="ad_loading pos2"></div>
  <div class="ad_loading pos3"></div>-->
  <div class="home_top_banner_1_2">
    <div class="home_top_banner_1">      
        <div class="banner_item" style="width:<%= @pos_1.width %>px;height:<%= @pos_1.height %>px;">
          <ul class="home_top_banner_1_slide">
            <% @pos_1.active_ads.each do |ad| %>
              <li>
                <a href="<%= click_ads_path(id: ad) %>" target="_blank">
                  <img title="" src="<%= ad.image_src(:banner) %>&trick=image.png" />
                </a>
              </li>
            <% end %>
          </ul>
        </div>      
    </div>
    <div class="home_top_banner_2">
      <div class="banner_item" style="width:<%= @pos_2.width %>px;height:<%= @pos_2.height %>px;">
          <ul class="home_top_banner_2_slide">
            <% @pos_2.active_ads.each do |ad| %>
              <li>
                <a href="<%= click_ads_path(id: ad) %>" target="_blank">
                  <img title="" src="<%= ad.image_src(:banner) %>&trick=image.png" />
                </a>
              </li>
            <% end %>
          </ul>
        </div>      
    </div>
  </div>
  <div class="home_top_banner_3">
    <div class="banner_item" style="width:<%= (@pos_1.width+@pos_2.width) %>px;height:<%= @pos_3.height %>px;">
      <ul class="home_top_banner_3_slide">
        <% @pos_3.active_ads.each do |ad| %>
          <li>
            <a href="<%= click_ads_path(id: ad) %>" target="_blank">
              <img title="<%= ad.name %>" src="<%= ad.image_src(:banner) %>&trick=image.png" />
            </a>
            <br />
            <a class="home_top_banner_3_title" href="">
              <%= ad.name %>
            </a>
            <br />
            <a class="home_top_banner_3_price" href="">
              <%= format_price(ad.display_price) %> VNĐ<%= "/#{ad.display_price_unit}" if ad.display_price_unit.present? %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>    
  </div>
</div>