<div class="ad_slider">
<ul class="iframe_3_wide_banners">
  <div class="loading"></div>
  <% @pos.active_ads.each do |ad| %>
    <li>
      <a href="<%= click_ads_path(id: ad) %>" target="_blank">
        <img title="" src="<%= ad.image_url(:banner) %>" />
      </a>
      <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
        <strong><%= ad.name %></strong><br />
        <%= ad.description %>
      </a>
    </li>
    
  <% end %>
  
  <% if @pos_2.present? %>
    <% @pos_2.active_ads.each do |ad| %>
      <li>
        <a href="<%= click_ads_path(id: ad) %>" target="_blank">
          <img title="" src="<%= ad.image_url(:banner) %>" />
        </a>
        <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
          <strong><%= ad.name %></strong><br />
          <%= ad.description %>
        </a>
      </li>      
    <% end %>
  <% end %>
  
  <% if @pos_3.present? %>
    <% @pos_3.active_ads.each do |ad| %>
      <li>
        <a href="<%= click_ads_path(id: ad) %>" target="_blank">
          <img title="" src="<%= ad.image_url(:banner) %>" />
        </a>
        <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
          <strong><%= ad.name %></strong><br />
          <%= ad.description %>
        </a>
      </li>      
    <% end %>
  <% end %>
</ul>
</div>