<% if @ad_position.style_name == "4_images_group" %>
    <div class="form-group <%= @ad_position.name %>">
        <label>Hình ảnh quảng cáo (<%= @ad_position.width %> x <%= @ad_position.height %>)</span></label>
        <div class="text-center">
            <div class="box_size box_4_style box_style">
                <div class="preview_box_image_style box_style_item item_4_style preview_box_image" rel="1" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
                <div class="preview_box_image_style box_style_item item_4_style preview_box_image_2" rel="2" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
                <div class="preview_box_image_style box_style_item item_4_style preview_box_image_3" rel="3" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
                <div class="preview_box_image_style box_style_item item_4_style preview_box_image_4" rel="4" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
            </div>
        </div>
    </div>
<% elsif @ad_position.style_name == "3_images_group" %>
    <div class="form-group <%= @ad_position.name %>">
        <label>Hình ảnh quảng cáo (<%= @ad_position.width %> x <%= @ad_position.height %>)</span></label>
        <div class="text-center">
            <div class="box_size box_3_style box_style" style="width: 100%; max-width: <%= @ad_position.width %>px">
                <div class="preview_box_image_style box_style_item item_3_style preview_box_image" rel="1" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
                <div class="preview_box_image_style box_style_item item_3_style preview_box_image_2" rel="2" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
                <div class="preview_box_image_style box_style_item item_3_style preview_box_image_3" rel="3" style="width: 100%; max-width: <%= @ad_position.width %>px">
                
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="form-group <%= @ad_position.name %>">
        <label>Hình ảnh quảng cáo (<%= @ad_position.width %> x <%= @ad_position.height %>)</span></label>
        <div class="text-center">
            <div class="box_size preview_box_image_style preview_box_image" style="width: 100%; max-width: <%= @ad_position.width %>px">
            
            </div>
        </div>
    </div>
<% end %>

<script>
    var box_width = $(".ad_preview_box_1 .box_size").width()
    if ($(".ad_preview_box_2").is(":visible")) {
        box_width = $(".ad_preview_box_2 .box_size").width()
    }
    if ($(".ad_preview_box_3").is(":visible")) {
        box_width = $(".ad_preview_box_3 .box_size").width()
    }
    
    var box_height = box_width/<%= @ad_position.width.to_f/@ad_position.height.to_f %>
    $(".box_size").height(box_height)
    $(".box_size").width(box_width)
    
    // 4 box style
    var box_sub_height = box_width*0.25 - 7
    var box_main_height = box_width*0.75 - 17
    
    $(".box_4_style .preview_box_image").height(box_main_height)
    $(".box_4_style .preview_box_image").width(box_main_height)
    
    $(".box_4_style .preview_box_image_2").height(box_sub_height)
    $(".box_4_style .preview_box_image_2").width(box_sub_height)
    $(".box_4_style .preview_box_image_3").height(box_sub_height)
    $(".box_4_style .preview_box_image_3").width(box_sub_height)
    $(".box_4_style .preview_box_image_4").height(box_sub_height)
    $(".box_4_style .preview_box_image_4").width(box_sub_height)
    
    // 3 box style
    var box_sub_height = box_width*0.5 - 3
    var box_main_height = box_width
    
    $(".box_3_style .preview_box_image").height(box_main_height)
    $(".box_3_style .preview_box_image").width(box_main_height)
    
    $(".box_3_style .preview_box_image_2").height(box_sub_height)
    $(".box_3_style .preview_box_image_2").width(box_sub_height)
    $(".box_3_style .preview_box_image_3").height(box_sub_height)
    $(".box_3_style .preview_box_image_3").width(box_sub_height)
    
    // hide/show industry
    $(".industry_group").hide()
    <% if @ad_position.name == "product_detail_bottom" or @ad_position.name == "product_detail_bottom_2" or @ad_position.name == "product_category_main" %>
        $(".industry_group").show()
    <% end %>
    
    // hide/show industry
    $(".area_group").hide()
    <% if @ad_position.name.include?("area_") or @ad_position.name == "area_top_map" or @ad_position.name == "area_top_map_2" or @ad_position.name == "area_top_map_3" %>
        $(".area_group").show()
    <% end %>
</script>