<%= form_for(@system_message) do |f| %>
  <% if @system_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_message.errors.count, "error") %> prohibited this system_message from being saved:</h2>

      <ul>
      <% @system_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
