<ul>
                <li>
                    <a href="<%= PbAreainfo.area_link(params)  %>/thong-bao">
                        <h4>Thông báo</h4>
                        <img src="<%= @item.image_thumb %>" />
                    </a>
                </li>
                <li>
                    <a href="<%= PbAreainfo.area_link(params)  %>/thong-bao">
                        <h4>Giới thiệu</h4>
                        <img src="<%= @item.image_2_thumb %>" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Nhu cầu mua</h4>
                        <img src="<%= @item.image_3_thumb %>" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Tìm đối tác</h4>
                        <img src="<%= @item.image_4_thumb %>" />
                    </a>
                </li>
            </ul>