<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Marketonline.vn</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
      
      <%= stylesheet_link_tag "/assets/css/banner_frame.css" %>
      
      <%= javascript_include_tag '/assets/js/core/libraries/jquery.min.js' %>
      <%= stylesheet_link_tag "/assets/js/plugins/jquery.bxslider/jquery.bxslider.css" %>
      <%= javascript_include_tag '/assets/js/plugins/jquery.bxslider/jquery.bxslider.min.js' %>
      
      <script>
        
        function customSlide(class_name, per_line, space, time) {          
          var slide = $(class_name)
          if (slide.find("li").length < per_line ) {
            return
          }
          slide.find("li").each(function() {
              slide.append($(this).clone())
          })
          
          setInterval("moveSlide3Lest($('"+class_name+"'), 5, "+space+")", time)
        }
        
        function moveSlide3Lest(slide, per_line, space) {         
            var step = 1
            var count = slide.find("li").length
            var item_width = slide.find("li").width()+space
            var width = (item_width)*count
            var current_left = parseInt(slide.css("left"))
            slide.width(width)
            //move left
            //$(".home_top_banner_3_slide").css("left", current_left-item_width)
            slide.animate({
              opacity: 0.25,
              left: "-="+(item_width*step)
            }, 500, function() {
              slide.animate({
                opacity: 1,
              }, 500)
              if(width+current_left <= item_width*per_line+item_width) {
                slide.css("left", item_width*per_line - item_width*(count/2+1)+item_width)
              }
            });
        }
        $(document).ready(function() {
          $('.home_top_banner_1_slide, .home_top_banner_2_slide').bxSlider({
            mode: 'fade',
            captions: true,
            pager: false,
            auto: true,
            controls: false,
            speed: 2000
          });
          
          // slide show
          //append more item
          customSlide(".home_top_banner_3_slide", 5, 1, 3000)
          customSlide(".iframe_3_wide_banners", 3, 22, 3000)
        })
      </script>
  </head>
  <body onload="$('.ad_loading').hide()">
    <%= yield %>
  </body>
</html>
