<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Marketonline.vn</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
      
      <%= stylesheet_link_tag "/assets/css/banner_frame.css?v=13" %>
      
      <% if params[:device] == "mobile" %>
          <%= stylesheet_link_tag "/assets/css/banner_frame_mobile.css?v=14" %>
      <% end %>
      
      <%= javascript_include_tag '/assets/js/core/libraries/jquery.min.js' %>
      <%= stylesheet_link_tag "/assets/js/plugins/jquery.bxslider/jquery.bxslider.css" %>
      <%= javascript_include_tag '/assets/js/plugins/jquery.bxslider/jquery.bxslider.min.js' %>
      
      <script>
        var banner3_pos = 0
        function banner3_move() {
          var current = parseInt($(".ad_slidermobile").css("left"))

          if (banner3_pos < 2){
            banner3_pos += 1
          } else {
            banner3_pos = 0
          }
          
          var width = $(".ad_slidermobile li").width()+22
          var target = width*banner3_pos
          
          var amount = target-(-current)
          
          if(target == 0) {
            amount = current
          }
          
          //$(".ad_slidermobile").css("margin-left", -width*banner3_pos)
          
          $(".ad_slidermobile").animate({
            left: "+="+(-amount)
          }, 500);
          
        }
        
        function customSlide_2(class_name, per_line, space, time) {          
          var slide = $(class_name)
          if (slide.find("li").length <= per_line ) {
            return
          }
          slide.find("li").each(function() {
              slide.append($(this).clone())
          })
          
          //setInterval("moveSlide3Lest('"+class_name+"', "+per_line+", "+space+")", time)
        }
        
        function customSlide(class_name, per_line, space, time) {          
          var slide = $(class_name)
          if (slide.find("li").length <= per_line ) {
            return
          }
          slide.find("li").each(function() {
              slide.append($(this).clone())
          })
          
          setInterval("moveSlide3Lest('"+class_name+"', "+per_line+", "+space+")", time)
        }
        
        function moveSlide3Lest(class_name, per_line, space) {
            var slide = $(class_name)
            var step = 1
            var count = slide.find("li").length
            var item_width = slide.find("li").width()+space
            var width = (item_width)*count
            var current_left = parseInt(slide.css("left"))
            slide.width(width)
            //move left
            //$(".home_top_banner_3_slide").css("left", current_left-item_width)
            slide.animate({
              opacity: 0.25,
              left: "-="+(item_width*step)
            }, 500, function() {
              slide.animate({
                opacity: 1,
              }, 500)
              if(width+current_left <= item_width*per_line+item_width) {
                slide.css("left", item_width*per_line - item_width*(count/2+1)+item_width)
              }
            });
        }
        $(document).ready(function() {
          $('.home_top_banner_1_slide').bxSlider({
            mode: 'fade',
            captions: true,
            pager: false,
            auto: true,
            controls: false,
            speed: 2000
          });
          
          <% if params[:device] != "mobile" %>
            $('.home_top_banner_2_slide').bxSlider({
              mode: 'fade',
              captions: true,
              pager: false,
              auto: true,
              controls: false,
              speed: 2000
            });
          <% end %>
          
          // slide show
          //append more item
          customSlide(".home_top_banner_3_slide", 5, 1, 3000)
          customSlide(".iframe_3_wide_banners", 3, 22, 3000)
          
          //setInterval("banner3_move()", 2000);
          
        })
      </script>
  </head>
  <body onload="$('.ad_loading').hide()">
    <%= yield %>
  </body>
</html>
