<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Marketonline.vn</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
      
      <%= stylesheet_link_tag "/assets/css/banner_frame.css" %>
      
      <%= javascript_include_tag '/assets/js/core/libraries/jquery.min.js' %>
      <%= stylesheet_link_tag "/assets/js/plugins/jquery.bxslider/jquery.bxslider.css" %>
      <%= javascript_include_tag '/assets/js/plugins/jquery.bxslider/jquery.bxslider.min.js' %>
      
      <script>
        $(document).ready(function() {
          $('.home_top_banner_1_slide, .home_top_banner_2_slide').bxSlider({
            mode: 'fade',
            captions: true,
            pager: false,
            auto: true,
            controls: false
          });
        })
      </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
