<!DOCTYPE html>
<html lang="en">
<head>
	<script>
		URL = '<%= root_path %>'
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://marketonline.vn/images/faviconz.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	
	<title><%= page_info(params)[:title]+" - " if page_info(params)[:title].present? %>Marketonline.vn</title>
    
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "/assets/css/icons/icomoon/styles.css" %>
    <%= stylesheet_link_tag "/assets/css/minified/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/assets/css/minified/core.min.css" %>
    <%= stylesheet_link_tag "/assets/css/minified/components.min.css" %>
    <%= stylesheet_link_tag "/assets/css/minified/colors.min.css" %>
    <%= stylesheet_link_tag "/assets/css/icons/icomoon/styles.css" %>
    <!-- /global stylesheets -->    
    
    <%= csrf_meta_tags %>
	

	<!-- Core JS files -->
    <%= javascript_include_tag '/assets/js/plugins/loaders/pace.min.js' %>
    <%= javascript_include_tag '/assets/js/core/libraries/jquery.min.js' %>
    <%= javascript_include_tag '/assets/js/core/libraries/bootstrap.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/loaders/blockui.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/ui/nicescroll.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/ui/drilldown.js' %>    
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<%= javascript_include_tag '/assets/js/plugins/visualization/d3/d3.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/visualization/d3/d3_tooltip.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/validation/validate.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/validation/localization/messages_vi.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/forms/selects/bootstrap_multiselect.js' %>
    <%= javascript_include_tag '/assets/js/plugins/ui/moment/moment.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/pickers/daterangepicker.js' %>
	<%= javascript_include_tag '/assets/js/plugins/tables/datatables/datatables.min.js' %>	
	<%= javascript_include_tag '/assets/js/plugins/forms/styling/switch.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/styling/switchery.min.js' %>
    <%= javascript_include_tag '/assets/js/plugins/forms/inputs/touchspin.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/styling/uniform.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/wizards/steps.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/forms/selects/select2.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/media/fancybox.min.js' %>
	<%= javascript_include_tag "/assets/js/jquery.number.min.js" %>
	<%= javascript_include_tag '/assets/js/plugins/visualization/echarts/echarts.js' %>
	
	<!-- Theme JS files -->
	<%= javascript_include_tag '/assets/js/core/libraries/jquery_ui/datepicker.min.js' %>
	<%= javascript_include_tag '/assets/js/core/libraries/jquery_ui/effects.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/notifications/jgrowl.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/pickers/anytime.min.js' %>
	<%= javascript_include_tag '/assets/js/plugins/pickers/pickadate/picker.js' %>
	<%= javascript_include_tag '/assets/js/plugins/pickers/pickadate/picker.date.js' %>
	<%= javascript_include_tag '/assets/js/plugins/pickers/pickadate/picker.time.js' %>
	<%= javascript_include_tag '/assets/js/plugins/pickers/pickadate/legacy.js' %>
	
	
	<!-- /theme JS files -->
	
	<%= javascript_include_tag '/assets/js/core/app.js' %>
	
	<%= javascript_include_tag '/assets/js/custom.js?v=7' %>
	<%= stylesheet_link_tag '/assets/css/custom.css?v=8' %>	
	
	<script>
		var START_STEP = <%= @ad.present? ? @ad.current_step : 0 %>
	</script>
	
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" target="_blank" href="http://marketonline.vn<%= url_for("/") %>">
              <strong>MarketOnline.vn</strong>
            </a>
			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-gear"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<% if !@current_user.shop_url.nil? %>
							
								<img src="<%= @current_user.image %>" alt="">
							
						<% else %>
							<img src="<%= @current_user.image %>" alt="">
						<% end %>
						<span><%= @current_user.display_name %></span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<!--<li><a href="http://marketonline.vn/redirect.php?url=/virtual-office/"><i class="icon-cog5"></i> Trang quản lý</a></li>
						<li class="divider"></li>
						<li><a href="http://marketonline.vn/logging.php?action=logout"><i class="icon-switch2"></i> Đăng xuất</a></li>
						
						<li class="divider"></li>-->
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/?home=1">Quản lý chung</a></li>
                        <li class="divider"></li>
                        <li>
							<span class="sell_count badge bg-warning-400 menu_bagde"><%= @current_user.saleorders_alert_count %></span>
							<a class="virtual_office_link" href="http://marketonline.vn:3000/pb_saleorders">Quản lý đơn hàng</a>
                        </li>
                        
                        <li><a class="virtual_office_link" href="http://marketonline.vn:3000">Quản lý Quảng cáo</a></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn:3000/deals">Quản lý DEAL</a></li>
                        <li class="divider"></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/product.php">Sản phẩm</a></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/product.php?type=service">Dịch vụ</a></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/offer.php">Thương mại</a></li>
                        <li class="divider"></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/index.php">Hồ sơ Gian hàng</a></li>
                        <li><a class="virtual_office_link" href="http://marketonline.vn/redirect.php?url=/virtual-office/personal.php">Hồ sơ cá nhân</a></li>
                        <li class="divider"></li>
                        <li><a href="http://marketonline.vn/logging.php?action=logout"><i class="icon-switch2"></i> Đăng xuất</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<% if !@current_user.shop_url.nil? %>
									<a target="_blank" href="http://marketonline.vn<%= @current_user.shop_url %>" class="media-left">
										<img src="<%= @current_user.image %>" class="img-circle img-sm" alt="">
									</a>
								<% else %>
									<a href="#" class="media-left"><img src="<%= @current_user.image %>" class="img-circle img-sm" alt=""></a>
								<% end %>
								<div class="media-body">
									<% if @current_user.pb_company.present? %>
										<a target="_blank" href="http://marketonline.vn<%= @current_user.shop_url %>">
											<span class="media-heading text-semibold"><%= @current_user.pb_company.shop_name %></span>
										</a>
									<% end %>
									
									<div class="text-size-mini text-muted">
										<span class="media-heading text-size-small"><i class="icon-user text-size-small"></i> <%= @current_user.display_name %></span>
									</div>
								</div>

								<!--<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>-->
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Danh mục</span> <i class="icon-menu" title="Main pages"></i></li>
								<!--<li <%= 'class=active' if ["home"].include?(params[:controller]) %>>
									<a href="<%= root_path %>"><i class="icon-home4"></i> <span>Trang chính</span></a>
								</li>-->
                                <li <%= 'class=active' if ["ad_types","ads"].include?(params[:controller]) %>>
									<% if ["admin"].include? @current_user.role %>										
										<span class="badge bg-warning-400 menu_bagde"><%= Ad.where(active: 0).count if Ad.where(active: 0).count > 0 %></span>
										<span class="badge bg-info menu_bagde"><%= Ad.where(viewed: nil).count if Ad.where(viewed: nil).count > 0 %></span>
									<% else %>
										<span class="badge bg-warning-400 menu_bagde"><%= Ad.where(pb_member_id: @current_user.id).where(active: 0).count if Ad.where(pb_member_id: @current_user.id).where(active: 0).count > 0 %></span>
									<% end %>
									<a href="#"><i class="icon-stack2"></i> <span>Quảng cáo</span></a>
									<ul>
										<li <%= 'class=active' if ["ads"].include?(params[:controller]) && ["new"].include?(params[:action]) %>><a href="<%= new_ad_path %>">Đăng quảng cáo</a></li>
										<li <%= 'class=active' if ["ads"].include?(params[:controller]) && ["index"].include?(params[:action]) %>>
											<% if ["admin"].include? @current_user.role %>										
												<span class="badge bg-warning-400 menu_bagde"><%= Ad.where(active: 0).count if Ad.where(active: 0).count > 0 %></span>
												<span class="badge bg-info menu_bagde"><%= Ad.where(viewed: nil).count if Ad.where(viewed: nil).count > 0 %></span>
											<% else %>
												<span class="badge bg-warning-400 menu_bagde"><%= Ad.where(pb_member_id: @current_user.id).where(active: 0).count if Ad.where(pb_member_id: @current_user.id).where(active: 0).count > 0 %></span>
											<% end %>
											<a href="<%= ads_path %>">
												Quản lý quảng cáo</a>
										</li>
										<% if ["admin"].include? @current_user.role %>
											<li <%= 'class=active' if ["ad_positions"].include?(params[:controller]) %>><a href="<%= ad_positions_path %>">Vị trí đặt quảng cáo</a></li>
										<% end %>
										<!--<li><a href="#">Thống kê</a></li>-->
									</ul>
								</li>
								
									<li>
										<span class="badge bg-warning-400 menu_bagde"><%= @current_user.saleorders_alert_count %></span>
										<a href="#"><i class="icon-credit-card2"></i> <span>Quản lý đơn hàng</span></a>
										<ul>
											<li <%= 'class=active' if ["pb_saleorders"].include?(params[:controller]) && ["index","show"].include?(params[:action]) %>>
												<span class="badge bg-warning-400 menu_bagde"><%= @current_user.saleorders_alert_count %></span>
												<a href="<%= pb_saleorders_path %>">Đơn đặt hàng từ khách</a>											
											</li>
											<li <%= 'class=active' if ["pb_saleorders"].include?(params[:controller]) && ["buy_orders"].include?(params[:action]) %>><a href="<%= buy_orders_pb_saleorders_path %>">Lịch sử mua hàng của bạn</a></li>
										</ul>
									</li>
									<li>
										<a href="#"><i class="icon-price-tags"></i> <span>Quản lý DEAL</span></a>
										<ul>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["index","show"].include?(params[:action]) %>><a href="<%= deals_path %>">Quản lý DEAL</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["item_list"].include?(params[:action]) %>><a href="<%= item_list_deals_path %>">Lịch sử bán DEAL</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["agent_list"].include?(params[:action]) %>><a href="<%= agent_list_deals_path %>">Cộng tác viên</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["customer_list"].include?(params[:action]) %>><a href="<%= customer_list_deals_path %>">Khách hàng</a></li>											
										</ul>
									</li>
									<li>
										<a href="#"><i class="icon-coins"></i> <span>Cộng tác cho DEAL</span></a>
										<ul>											
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["agent_page"].include?(params[:action]) %>><a href="<%= agent_page_deals_path %>">Thống kê bán hàng</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["corp_deals"].include?(params[:action]) %>><a href="<%= corp_deals_deals_path %>">Danh sách DEALs tham gia</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["corp_members"].include?(params[:action]) %>><a href="<%= corp_members_deals_path %>">Gian hàng đang cộng tác</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["corp_customers"].include?(params[:action]) %>><a href="<%= corp_customers_deals_path %>">Danh sách khách hàng</a></li>
											<li <%= 'class=active' if ["agent_payments"].include?(params[:controller]) && ["user_payments"].include?(params[:action]) %>><a href="<%= user_payments_agent_payments_path %>">Tài khoản & Thu nhập</a></li>
										</ul>
									</li>

								<% if ["admin"].include? @current_user.role %>
									<li <%= 'class=active' if ["pb_areatypeinfos"].include?(params[:controller]) %>>
										<span class="badge bg-warning-400 menu_bagde"><%= PbMember.saleorders_alert_count %></span>
										<a href="#"><i class="icon-cog5"></i> <span>Quản lý</span></a>
										<ul>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["admin_agent_list"].include?(params[:action]) %>><a href="<%= admin_agent_list_deals_path %>">Cộng tác viên</a></li>
											<li <%= 'class=active' if ["deals"].include?(params[:controller]) && ["admin_deal_list"].include?(params[:action]) %>><a href="<%= admin_deal_list_deals_path %>">Quản lý DEAL</a></li>
											<li <%= 'class=active' if ["pb_saleorders"].include?(params[:controller]) and ["admin_list"].include?(params[:action]) %>>
												<span class="badge bg-warning-400 menu_bagde"><%= PbMember.saleorders_alert_count %></span>
												<a href="<%= admin_list_pb_saleorders_path %>">Quản lý đơn hàng</a>
											</li>
											<li <%= 'class=active' if ["pb_members"].include?(params[:controller]) and ["top_sellers"].include?(params[:action]) %>>
												<a href="<%= top_sellers_pb_members_path %>">Gian hàng bán chạy</a>
											</li>
											<li <%= 'class=active' if ["pb_members"].include?(params[:controller]) and ["top_buyers"].include?(params[:action]) %>>
												<a href="<%= top_buyers_pb_members_path %>">Khách hàng mua nhiều</a>
											</li>
											<li <%= 'class=active' if ["catgroups"].include?(params[:controller]) %>><a href="<%= catgroups_path %>">Quản lý nhóm chuyên mục</a></li>
											<li <%= 'class=active' if ["pb_areatypeinfos"].include?(params[:controller]) %>><a href="<%= pb_areatypeinfos_path %>">Vị tri địa lý</a></li>
											<li <%= 'class=active' if ["pb_settings"].include?(params[:controller]) %>><a href="<%= pb_settings_path %>">Cấu hình hệ thống</a></li>
											<li <%= 'class=active' if ["system_messages"].include?(params[:controller]) %>><a href="<%= system_messages_path %>">Nhãn nội dung hệ thống</a></li>
										</ul>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><span class="text-semibold"><%= page_info(params)[:title] %></span></h4>
						</div>						
					</div>

					<div class="breadcrumb-line">
						<%= page_info(params)[:breadcrumb] %>
					</div>
				</div>
				<!-- /page header -->
				

				<!-- Content area -->
				<div class="content">
				
					<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
					<% if alert %><p class="alert"><%= alert %></p><% end %>
					<%= yield %>

				</div>
				<!-- /content area -->
				
				
				
			</div>
			<!-- /main content -->
			
			
			
		</div>
		<!-- /page content -->
		
			<div class="row footer">
				<div class="footer_inner">
					<div class="col-md-5">
						<strong>CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ THƯƠNG MẠI - FBMN</strong>
						<br />
						Văn phòng: 444/4 Cách Mạng Tháng 8, Phường 11, Quận 3, TP.HCM
						<br />
						GPĐK: 0312919617 - Cấp ngày 10-09-2014
					</div>
					<div class="col-md-6">
						VPGD: Block B R.606 - Indochina Park Tower, 04 Nguyễn Đình Chiểu, Quận 1, TP.HCM
						<br />
						ĐT: (84) 08.66886622   Hotline: 0903.07.1122  	Email: contact@marketonline.vn
					</div>
					<div class="col-md-1">
						<a target="_blank" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=10925">
							<img width="94" src="http://online.gov.vn/seals/cFs5Tw9N/q0RhopfriG7Tw==.jpgx" title="" alt="">
						</a>
					</div>
				</div>
			</div>
		
	</div>
	<!-- /page container -->

	


	<!-- Modal HTML -->
	<!-- Button HTML (to Trigger Modal) -->
    <a id="mainModalButton" href="#mainModal" role="button" class="btn btn-large btn-primary hidden" data-toggle="modal">Launch Demo Modal</a>
	
    <div id="mainModal" class="modal fade">

        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Thông báo</h4>

                </div>

                <div class="modal-body">

                    <p class="modal-message paid"></p>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>

            </div>

        </div>

    </div>

	
</body>
</html>
